.button{
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 40px;
  background: $maindark;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.05), 0 4px 6px 0 rgba(0,0,0,0.05);
  border: 2px solid transparent;
  margin: 0;
  transition: 0.3s ease-in-out;
  &:hover{
    border: 2px solid $maindark;
    color: $maindark;
    background: #fff;
  }
  &.join-us,
  .persona-cta &{
    background: $secondary;
    &:hover{
      border: 2px solid $secondary;
      color: $secondary;
      background: #fff;
    }
  }
  &.secondary{
    background: #fff;
    &:hover{
      border: 2px solid transparent;
      background: #fff;
    }
  }

  // Card Button.
  .card &{
    display: block;
    margin: 0 auto;
    width: 75%;
    border-radius: 30.5px;
    box-shadow: none;
  }

  // Persona CTA.
  .persona-cta & {
    margin: 10px;
    min-width: 200px;
    @include breakpoint(medium) {
      margin: 0 10px;
    }
  }
}