.page-header{
  height: 400px;
}

.home-header{
  background-color: $main;
  color: #fff;
  height: 450px;
  .header-title{
    padding: 30px 0;
    border-top: 9px solid #fff;
    border-bottom: 9px solid #fff;
  }
  p{
    margin-top: 20px;
  }
  .attachment-post-thumbnail{
    width: 90%;
  }
  @include breakpoint(large) {
    height: 90vh;
  }
}

img{
  height: auto;
}

.section-padding{
  padding: 30px 0;
  @include breakpoint(large) {
    padding: 50px 0;
  }
}

section{
  &.grey{
    background: $grey;
  }
}